Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, libs, ops, docs

upgrade version of libs
  apps/pom.xml
Labels: none

add repository in root pom
  pom.xml
Labels: none

removed code_review files
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
Labels: ops

Removed unused iports
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

Refactor with filter objects and map parameters
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it.pagopa.selfcare.user/service/UserServiceTest.java
Labels: user-ms

feature: added /{userId} API implementation and handle resource not found exception in ExceptionHandler
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CustomError.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/error/Problem.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/error/ProblemError.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it.pagopa.selfcare.user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
Labels: user-ms

add settings
  .github/workflows/call_code_review.yml
  .github/workflows/check_pr.yml
  .github/workflows/pr_libs.yml
  .github/workflows/pr_ms.yml
Labels: ops

fix code rewview
  .github/workflows/call_code_review.yml
Labels: ops

fix settings servers
  .github/workflows/call_code_review.yml
Labels: ops

test
  .github/workflows/call_code_review.yml
Labels: ops

test
  .github/workflows/call_code_review.yml
Labels: ops

set settings
  .github/workflows/call_code_review.yml
Labels: ops

remove build docker image
  .github/workflows/pr_libs.yml
  .github/workflows/pr_ms.yml
Labels: ops

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
