Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

add junit
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
Labels: user-ms

add junit
  apps/user-ms/src/test/resources/json/Product.json
  apps/user-ms/src/test/resources/json/Product_prod-io-premium.json
Labels: user-ms

align onboarding-sdk version
  apps/pom.xml
  apps/user-ms/pom.xml
  libs/user-sdk-model/pom.xml
Labels: user-ms, libs

fix getUserInstitutionWithPermission
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserPermissionServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/json/Product.json
  apps/user-ms/src/test/resources/json/Product_prod-io-premium.json
Labels: user-ms

remove unused dependency
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
Labels: user-ms

remove unused import
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
Labels: user-ms

fix
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

block user addition when status is SUSPENDED
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

fix issues
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-7078] running integration tests with github action, testcontainers and docker-compose
  .github/workflows/integration_tests_ms.yml
  apps/user-ms/README.md
  apps/user-ms/docker-compose.yml
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/application.properties
  apps/user-ms/src/test/resources/blobStorageInit/initAzurite.sh
  apps/user-ms/src/test/resources/blobStorageInit/products.json
Labels: user-ms, ops

[SELC-7078] Removed duplicated dependency user-sdk-event
  apps/user-ms/pom.xml
Labels: user-ms

[SELC-7078] GITHUB_TOKEN
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] missing library
  .github/workflows/integration_tests_ms.yml
Labels: ops

add cucumber tests
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7078] integration_tests_ms workflow
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] github token
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] missing library
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] building user-sdk before starting tests
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] unused repo
  pom.xml
Labels: none

[SELC-7078] missing library
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7078] permissions
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7046] feat: block user addition when status is SUSPENDED (#263)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7078] Keep composeContainer reference
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
Labels: user-ms

[SELC-7078] Removed unused dependency quarkus-test-mongodb (disabling embedded mongodb instance)
  apps/user-ms/docker-compose.yml
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInfoServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/application-test.properties
Labels: user-ms

add Cucumber test template config
  .github/workflows/pr_user_group_ms.yml
  apps/user-ms/runConfig/Template Cucumber Java.run.xml
Labels: user-ms, ops

[SELC-7062] feat: add Cucumber test template config (#265)
  .github/workflows/pr_user_group_ms.yml
  apps/user-ms/runConfig/Template Cucumber Java.run.xml
Labels: user-ms, ops

[SELC-7126] feat: add Cucumber integration tests with github actions for user-group-ms
  .github/workflows/integration_tests_user_group_ms.yml
  apps/user-group-ms/README.md
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberSuite.java
  apps/user-group-ms/src/test/resources/application-test.properties
Labels: user-group-ms, ops

[SELC-7126] feat: add Selfcare SDK repository to Maven configuration
  apps/user-group-ms/pom.xml
Labels: user-group-ms

[SELC-7126] feat: add servers selfcare in integration_tests_user_group_ms.yml, removed duplicated classes
  .github/workflows/integration_tests_user_group_ms.yml
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/JwtData.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/TestProperties.java
Labels: user-group-ms, ops

[SELC-7126] feat: add servers selfcare in call_code_review.yml, integration_tests_ms.yml
  .github/workflows/call_code_review.yml
  .github/workflows/integration_tests_ms.yml
  apps/user-group-ms/pom.xml
  pom.xml
Labels: user-group-ms, ops

[SELC-7126] feat: add repository selfcare in pom user-group-ms
  apps/user-group-ms/pom.xml
  pom.xml
Labels: user-group-ms

[SELC-7126] feat: add repository selfcare in pom user-ms
  apps/user-ms/pom.xml
Labels: user-ms

[SELC-7126] fix servers selfcare in integration_tests_ms.yml
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7137] Upload cucumber.html
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7126] deleted CucumberConfig and removed rest assured properties in application-test.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberConfig.java
  apps/user-group-ms/src/test/resources/application-test.properties
Labels: user-group-ms

[SELC-7126] removed rest assured properties in core-config.properties
  apps/user-group-ms/src/main/resources/config/core-config.properties
Labels: user-group-ms

[SELC-7126] feat: add Cucumber integration tests with github actions for user-group-ms (#266)
  .github/workflows/call_code_review.yml
  .github/workflows/integration_tests_ms.yml
  .github/workflows/integration_tests_user_group_ms.yml
  apps/user-group-ms/README.md
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/main/resources/config/core-config.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberConfig.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberSuite.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/JwtData.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/TestProperties.java
  apps/user-group-ms/src/test/resources/application-test.properties
  apps/user-ms/pom.xml
Labels: user-ms, user-group-ms, ops

[SELC-7137] Manually execute integration tests
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7137] Using default branch dropdown
  .github/workflows/integration_tests_ms.yml
Labels: ops

[SELC-7126] fix: added REPO_SELFCARE in Dockerfile
  apps/user-group-ms/Dockerfile
  apps/user-ms/Dockerfile
Labels: user-ms, user-group-ms

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
