Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

added action ListProductUsers for admin Roles
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

added tests for DateCodec
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/DateCodecTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs

fix test for DateCOdec
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/DateCodecTest.java
Labels: user-ms

fix test for DateCOdec
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/DateCodecTest.java
Labels: user-ms

[SELC-5830] Feat: added action ListProductUsers for admin Roles (#202)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5827] Feat: added custom codec for user date (#201)
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/DateCodec.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/MongoConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserNotificationResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/DateCodecTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/EventsControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, user-cdc, libs

[PNPG-239] feat: added tag internal-pnpg to POST /users API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[PNPG-239] feat: added tag User again
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

Added date code config for userCDC
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
Labels: user-cdc

[PNPG-239] feat: added tag internal-pnpg to POST /users API (#203)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-5827] Added datecode for user-cdc (#204)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
Labels: user-cdc

[SELC-5856] Fix add user product Role to allowed multirole
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5856] Fix create user Role to allowed multirole
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5856] Used constant instead string
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5856] Fix add user product Role to allowed multirole (#205)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5887] First implementation for send event for FD from user-cdc
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubRestClient.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/FdUserNotificationToSend.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/NotificationUserType.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/TrackEventInput.java
Labels: user-cdc, libs

[SELC-5887] added configuration for send fd event
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/mapper/NotificationMapperTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubFdSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubFdRestClient.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubRestClient.java
Labels: user-cdc, libs, ops

[SELC-5887] added test for user-sdk-event
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/FdUserNotificationToSend.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/NotificationUserType.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/TrackEventInputTest.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: user-cdc, libs

[SELC-5887] added tests in UserUtilsTest
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: libs

[SELC-5887] refactor for change requests
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/FdUserNotificationToSendTest.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsMetric.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-cdc, libs

[SELC-5887] updated secret name for selfcare fd eventhub key
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5887] fix properties
  apps/user-cdc/src/main/resources/application.properties
Labels: user-cdc

[SELC-5887] fix user data for fd events
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/mapper/NotificationMapperTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-cdc, libs

[SELC-5887] Feat: Added send event for FD in user CDC (#206)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/mapper/NotificationMapperTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubFdSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubFdRestClient.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/FdUserNotificationToSend.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/NotificationUserType.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/TrackEventInput.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/FdUserNotificationToSendTest.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/TrackEventInputTest.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsMetric.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-cdc, libs, ops

[SELC-5887] fix pipeline name
  .github/workflows/create_release_branch.yml
Labels: ops

[SELC-5887] Fix workflow name in create_release_branch.yml (#207)
  .github/workflows/create_release_branch.yml
Labels: ops

[SELC-5887] added properties for eventHub
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-5887] added properties for eventHub
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-5887] added properties for eventHub on user-group-cdc
  apps/user-group-cdc/src/main/resources/application.properties
Labels: none

[SELC-5887] updated openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

[SELC-5887] Fix: added properties for eventhub in user-ms (#209)
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-5887] Fix: added properties for eventhub in user-ms (#209)
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-5887] fix event hub base path
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5887] fix event hub base path
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5887] Fix: event hub base path UAT (#210)
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5887] Fix(cherry pick): event hub base path UAT (#211)
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

fix event hub base path and topic for user-group-cdc
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

Fix: event hub base path and topic for user-group-cdc (#212)
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

fix event hub base path and topic for user-group-cdc
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5887] Fix(cherry pick): fix event hub base path and topic for user-group-cdc (#213)
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
