Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

feat: add retry to find on user registry
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: remove log fiscal code
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

feat: Add retry when find users on User Registry (#192)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

feat: Add retry when find users on User Registry (#192)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-5594] Removed PartyRole enum from controller request and response dto to remove them from openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
Labels: user-ms

[SELC-5594] refactor role checks and added unitTest
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
Labels: user-ms

[SELC-5594] Feat: Removed PartyRole enum from controller request and response dto to remove them from openapi (#193)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
Labels: user-ms

[SELC-5594] fix filterProductAndAddActions method
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
Labels: user-ms

[SELC-5594] fix filterProductAndAddActions method (#194)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
Labels: user-ms

feat: retrieve label from allRoleMappings
  apps/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms

fix: duplicated retrieveUsers operationId
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

chore: align import generated resources
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

[SELC-5633] feat: retrieve product Role label from allRoleMappings (#195)
  apps/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

fix: mapper to handle workContract with key but value empty
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
Labels: user-ms

fix: handle max and min role null
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
Labels: user-ms

fix: mapper on getUserInfo using userMailUuid
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

fix: change invoke with transformation
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: temporary comment test
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5752] fix: mapper toWorkContacts does not handle mail null (#196)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5752] fix: mapper toWorkContacts does not handle mail null (#196)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

add log about body
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-5752] Fix tests in UserServiceTest
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5752] Removed duplicated test
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5752] Fix: change Spy on userMapper to UserServiceTest (#197)
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5740] Added env for user-group-cdc
  apps/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: user-ms, ops

[SELC-5740] Added test con TrackEventInput
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/TrackEventInputTest.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserGroupNotificationToSendTest.java
Labels: libs

[SELC-5740] fix for change request
  .github/workflows/pr_user_cdc.yml
  .github/workflows/pr_user_group_cdc.yml
  .github/workflows/release_user_cdc.yml
  .github/workflows/release_user_group_cdc.yml
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/constant/CdcStartAtConstant.java
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev-pnpg/backend.ini
  infra/container_apps/user-group-cdc/env/dev-pnpg/backend.tfvars
  infra/container_apps/user-group-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-group-cdc/env/dev/backend.tfvars
  infra/container_apps/user-group-cdc/env/prod-pnpg/backend.ini
  infra/container_apps/user-group-cdc/env/prod-pnpg/backend.tfvars
  infra/container_apps/user-group-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/backend.tfvars
  infra/container_apps/user-group-cdc/env/uat-pnpg/backend.ini
  infra/container_apps/user-group-cdc/env/uat-pnpg/backend.tfvars
  infra/container_apps/user-group-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/backend.tfvars
  infra/container_apps/user-group-cdc/locals.tf
  infra/container_apps/user-group-cdc/main.tf
  infra/container_apps/user-group-cdc/variables.tf
Labels: ops

[SELC-5740] added test coverage
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/TrackEventInputTest.java
  test-coverage/pom.xml
Labels: libs

[SELC-5740] fix test
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
Labels: none

[SELC-5740] fix test
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
Labels: none

fix unit test and toTrackEventInputForUserGroup
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/TrackEventInput.java
Labels: libs

[SELC-5740] add assertion on test
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
Labels: none

[SELC-5740] Added custom code to parse different format of date
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserGroupNotificationMapper.java
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs

[SELC-5740] Fix data mapping
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
Labels: none

[SELC-5740] Fix for change request
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserGroupNotificationMapper.java
Labels: none

[SELC-5740] Fix for change request
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs

[SELC-5740] Fix: Added custom code to parse different format of date (#199)
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserGroupNotificationMapper.java
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs

added custom codec to test date
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/DateCodec.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/MongoConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserNotificationResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/EventsControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, user-cdc, libs

fix EVENT_HUB_BASE_PATH values
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-5740] Fix: fixed value for env EVENT_HUB_BASE_PATH (#200)
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops
