Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

[SELC-5145] Removed UserGroupController and related class
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupController.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/web/src/test/java/it/pagopa/selfcare/user_group/web/controller/UserGroupControllerTest.java
Labels: user-group-ms

chore: Move to Container App Env workload DEV
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
Labels: user-group-ms, ops

update openapi
  apps/user-group-ms/app/src/main/docs/openapi.json
Labels: user-group-ms

chore: Move to Container App Env workload DEV (#167)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
Labels: user-group-ms, ops

[SELC-5245] Added role_action_mapping.json
  infra/container_apps/user-ms/role_action_mapping.json
Labels: ops

[SELC-5245] Feat: Added role_action_mapping.json (#168)
  infra/container_apps/user-ms/role_action_mapping.json
Labels: ops

[SELC-5245] Moved role_action_mapping.json in user-ms resources folder
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

reference to new cae
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

chore: Move to Container App Env workload UAT (#170)
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

chore: Move to Container App Env workload UAT (#170)
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

[SELC-5245] Feat: Moved role_action_mapping.json in user-ms resources folder (#169)
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

[SELC-5270] Added script to create PecNotifications
  apps/user-core-migration/institution_to_pec_notification.py
  apps/user-core-migration/query.py
Labels: none

[SELC-5247] Added new API to retrieve userInstitution with list of product's user permission
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

[SELC-5251] Added UserAction enum in user-sdk-model
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/UserAction.java
Labels: libs

[SELC-5247] Refactor for change requests
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

[SELC-5247]Added startup annotation in ActionMapRetriever
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
Labels: user-ms

[SELC-5251] Refactor for change requests
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/UserAction.java
Labels: libs

[SELC-5251] Feat: Added UserAction enum in user-sdk-model (#172)
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/UserAction.java
Labels: libs

[SELC-5247] Feat: Added new API to retrieve userInstitution with list of product's user permission (#171)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

[SELC-5247] remove class to read file to test
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-5247] Fix method to read json file
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
Labels: user-ms

[SELC-5247] Fix: change method to read json file (#173)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
Labels: user-ms

added reference cae 002
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
Labels: ops

pre-commit
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

chore: Move to Container App Env workload PROD (#174)
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

chore: Move to Container App Env workload PROD (#174)
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-5145] Feat: Removed UserGroupController and related class (#166)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupController.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/web/src/test/java/it/pagopa/selfcare/user_group/web/controller/UserGroupControllerTest.java
Labels: user-group-ms

[SELC-5247] Added product in PENDING and TOBEVALIDATED status in getUserInstitutionWithPermission API
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

remove script core migration
  apps/user-core-migration/institution_to_pec_notification.py
  apps/user-core-migration/retrieve_taxCode_and_institutionType_from_institution.py
Labels: none

remove query
  apps/user-core-migration/query.py
Labels: none

[SELC-5270] chore: Remove scripts about core migration (#176)
  apps/user-core-migration/retrieve_taxCode_and_institutionType_from_institution.py
Labels: none

Add Selc:ListActiveProducts for OPERATOR in role_action_mapping.json
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

[SELC-5245] Feat: Added Selc:ListActiveProducts for OPERATOR in role_action_mapping.json (#177)
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

test addToSet
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/JacksonConfiguration.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitutionRole.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
Labels: user-cdc

fix: nullpointer exception on retrieveMail
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms

chore: update swagger
  apps/user-group-ms/app/src/main/docs/openapi.json
Labels: user-group-ms

fix: swagger detect name workflow
  .github/workflows/swagger_detect_quarkus_ms.yml
Labels: ops

hotfix: nullpointer when retrieve WorkContracts on retrievemail method (#178)
  .github/workflows/swagger_detect_quarkus_ms.yml
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms, user-group-ms, ops

hotfix: nullpointer when retrieve WorkContracts on retrievemail method (#178)
  .github/workflows/swagger_detect_quarkus_ms.yml
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms, user-group-ms, ops

add teg internal-v1
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
