Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

chore: Updated infra modules to v4
  .terraform-version
  infra/container_apps/user-cdc/.terraform.lock.hcl
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-cdc/main.tf
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/main.tf
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/terraform.sh
  infra/container_apps/user-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

chore: Updated infra modules to v4
  infra/container_apps/user-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/.terraform.lock.hcl
Labels: ops

chore: Updated infra modules to v4
  .terraform-version
  infra/container_apps/user-cdc/.terraform.lock.hcl
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-cdc/main.tf
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/main.tf
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/terraform.sh
  infra/container_apps/user-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

chore: Updated infra modules to v4
  infra/container_apps/user-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/.terraform.lock.hcl
Labels: ops

[SELC-7498] chore: Update modules version (#281)
  .terraform-version
  infra/container_apps/user-cdc/.terraform.lock.hcl
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-cdc/.terraform.lock.hcl
  infra/container_apps/user-group-cdc/main.tf
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/main.tf
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/terraform.sh
  infra/container_apps/user-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7474] Removed ManageProductUsers and ListProductUsers actions from ADMIN_EA role for prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7474] Removed ManageProductUsers and ListProductUsers actions from ADMIN_EA role for prod-io (#282)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7475] Created new service getUserGroupMe
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
Labels: user-group-ms

Potential fix for code scanning alert no. 146: Log Injection
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

[SELC-7475] Fix log
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

[SELC-7480] Added new action ListProductGroups. Removed action ManageProductGroups from ADMIN_EA role for prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7480] Added new action ListProductGroups. Removed action ManageProductGroups from ADMIN_EA role for prod-io (#284)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7586] Added index institutionId to userInstitution collection
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7586] Added index institutionId to userInstitution collection
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7586] Added index institutionId to userInstitution collection (#285)
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7586] Added index institutionId to userInstitution collection (#286)
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7589] Attempt to resolve the mysterious PDV conflict with retry
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

[SELC-7589] Attempt to resolve the mysterious PDV conflict with retry (#287)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

[SELC-7589] Attempt to resolve the mysterious PDV conflict with retry
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

[SELC-7589] Attempt to resolve the mysterious PDV conflict with retry (#288)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

[SELC-7600] Added index to field "name" in UserGroups collection
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

[SELC-7600] Added index to field "name" in UserGroups collection (#289)
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

[SELC-7480] Temporarily restored ManageProductGroups permission for ADMIN_EA prod-io users
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7480] Temporarily restored ManageProductGroups permission for ADMIN_EA prod-io users (#290)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

add parentInstitutionId in UserGroups model
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/api/UserGroupOperations.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/GroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyGroup.java
  apps/user-group-ms/src/test/resources/application-test.properties
  apps/user-group-ms/src/test/resources/features/createGroup.feature
Labels: user-group-ms

[SELC-7640] Replaced Selc:ManageProductUsers with Selc:CreateProductUsers, Selc:UpdateProductUsers, Selc:DeleteProductUsers
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

[SELC-7640] Updated tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7672] Added support tag to deleteMemberFromUserGroup and deleteMemberFromUserGroups. Improved documentation.
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
Labels: user-group-ms

[SELC-7672] Added support tag to deleteMemberFromUserGroup and deleteMemberFromUserGroups. Improved documentation. (#293)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
Labels: user-group-ms

[SELC-7461] feat: add parentInstitutionId in UserGroups model (#291)
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/api/UserGroupOperations.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/GroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyGroup.java
  apps/user-group-ms/src/test/resources/application-test.properties
  apps/user-group-ms/src/test/resources/features/createGroup.feature
Labels: user-group-ms

[SELC-7640] Removed CreateProductUsers and DeleteProductUsers permissions from prod-idpay-merchant
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7640] Replaced action Selc:ManageProductUsers with Selc:CreateProductUsers, Selc:UpdateProductUsers, Selc:DeleteProductUsers (#292)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7326] feat: add field toAddOnAggregates to createOrUpdateByFiscalCode and createOrUpdateByUserId api
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/user.feature
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs

[SELC-7326] fix: sonar duplication code in UserInstitutionMapper
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
Labels: user-ms

API to add members by institutionId, parentInstitutionId and productId
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupFilter.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/config/SwaggerConfigTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyAddMembersToUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
Labels: user-group-ms

[SELC-7326] fix: checkUserInstitutionWithFieldToAddOnAggregates
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupFilter.java
Labels: user-group-ms

fix log injection
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

[SELC-7326] feat: add field toAddOnAggregates to createOrUpdateByFiscalCode and createOrUpdateByUserId api (#294)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/resources/features/user.feature
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs

add cucumber tests
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
