Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

[SELC-5969] Added fake test to cucumber suite
  apps/user-group-ms/src/main/resources/config/core-config.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberSuite.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/FakeSteps.java
  apps/user-group-ms/src/test/resources/features/fake.feature
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/updateUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-5969] updated pom for apps module and user-group-ms module
  apps/pom.xml
  apps/user-group-ms/pom.xml
Labels: user-group-ms

clean pom in test-coverage module
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/dao/UserGroupRepositoryTest.java
  pom.xml
  test-coverage/pom.xml
Labels: user-group-ms

[SELC-6228] feat: check number of admin-psp
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/NumberOfAdminsExceededException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-6228] feat: using NumberOfAdminsExceededException
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-6228] updated UserServiceTest
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5969] Added method to generate token in cucumber test
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/KeyGenerator.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/CreateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UpdateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/JwtData.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/TestProperties.java
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/updateUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
  apps/user-group-ms/src/test/resources/key/private-key.pem
  apps/user-group-ms/src/test/resources/key/public-key.pub
Labels: user-group-ms

[SELC-5969] Fix cucumber test
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UpdateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/resources/dataPopulation/data.json
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/updateUserGroup.feature
Labels: user-group-ms

[SELC-6286] feat: Added a new service to get the number of current admins for a certain product of an institution
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/AdminCountResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6286] using param-case
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
Labels: user-ms

[SELC-5969] Added TestPropertySource to read application-test.properties and not the default one
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberSuite.java
Labels: user-group-ms

[SELC-5969] Removed spring-webmvc dependency to fix a NoClassDef error. Updated user-group-ms pom
  apps/user-group-ms/pom.xml
Labels: user-group-ms

[SELC-6199] fix: update userMailUuid on onboarding
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6199] removed unused code
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
Labels: user-ms

[SELC-6199] ref: using optional
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-6199] ref: removed if
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

Revert "[SELC-6199] ref: removed if"
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-6286] feat: users count by role
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UsersCountResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6379] feat: Removed action Selc:CreateDelegation from ADMIN_EA. Removed duplicate and unused role_action_mapping.json from infra folder
  apps/user-ms/src/main/resources/role_action_mapping.json
  infra/container_apps/user-ms/role_action_mapping.json
Labels: user-ms, ops

[SELC-6286] feat: Added an optional list of status as query param to new users count api
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UsersCountResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6286] feat: using enums PartyRole and OnboardedProductState. added enum validation in new users count api
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UsersCountResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/GeneralUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/GeneralUtilsTest.java
Labels: user-ms

manage ADMIN_EA_IO actions
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, user-group-ms, libs

upgrade onboarding sdk version
  apps/pom.xml
  libs/user-sdk-model/pom.xml
Labels: libs

upgrade sdk to version 0.6.8
  apps/pom.xml
  libs/user-sdk-model/pom.xml
Labels: libs

[SELC-6300] feat: add role ADMIN_EA_IO (#245)
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, user-group-ms, libs

Revert "[SELC-6300] feat: add role ADMIN_EA_IO (#245)"
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, user-group-ms, libs

Revert "[SELC-6300] feat: add role ADMIN_EA_IO" (#246)
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, user-group-ms, libs

new permission actions management by role and product
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

[SELC-6300] feat: new permission actions management by role and product (#247)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

[SELC-5969] added docker-compose.yml for integration tests
  apps/user-group-ms/docker-compose.yml
Labels: user-group-ms

[SELC-5969] Updated README in user-group-ms
  apps/user-group-ms/README.md
Labels: user-group-ms

[SELC-6479] fix: changed openapi path in user-group-ms release workflow
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
Labels: ops

fix grouping on resend events and cdc process for sc_users
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: user-ms, user-cdc, libs

fix tests + refactor
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: libs

fix test on user-cdc
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
Labels: user-cdc

refactor buildUsersNotificationResponseWithEventTest
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

refactor tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

add new tests for coverage issues
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: libs

change util method on user_cdc
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
Labels: user-cdc

Fix grouping Product for different product role and the same role
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: user-cdc, libs
