Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

add cucumber tests required fields scenarios
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

add internal-v1 tag
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-7704] Added tag internal-v1 to createUserByUserId
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-7325] feat: API to add members to an UserGroup by institutionId, parentInstitutionId and productId (#295)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupFilter.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/config/SwaggerConfigTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyAddMembersToUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-7704] Added tag internal-v1 to createUserByUserId (#296)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

add parentInstitutionId in user-group APIs
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupResource.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/CreateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
Labels: user-group-ms

add produces MediaType.ALL_VALUE
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-7461] fix: add produces MediaType.ALL_VALUE in addMembersToUserGroupWithParentInstitutionId (#297)
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
Labels: user-group-ms

add cucumber tests and fix checkGroupUniqueness
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/CreateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
Labels: user-group-ms

add parentInstitutionId index
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

fix log injection
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

fix log injection
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

add unit test
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
Labels: user-group-ms

add Selc:ListProductUsers action to ADMIN_EA role for prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7462] feat: add parentInstitutionId in user-group APIs (#298)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupResource.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/CreateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: user-group-ms, ops

set version for bitnami/git
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms

fix version
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms

fix
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms

test alpine/git
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms

[SELC-7734] feat: add Selc:ListProductUsers action to ADMIN_EA role for prod-io (#299)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7501] Updated user-cdc to monitor toAddOnAggregates flags and propagate users from the aggregator to the aggregates
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalApiHeadersFactory.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalDelegationApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserGroupApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/UserCdcConfig.java
  apps/user-cdc/src/main/openapi/internal.json
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: user-cdc, ops

[SELC-7501] fix test
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
Labels: user-cdc

[SELC-7501] Updated user-cdc to monitor toAddOnAggregates flags and propagate users from the aggregator to the aggregates (#300)
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalApiHeadersFactory.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalDelegationApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserGroupApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/UserCdcConfig.java
  apps/user-cdc/src/main/openapi/internal.json
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: user-cdc, ops

update onboarding sdk version
  apps/pom.xml
Labels: none

[SELC-7545] Adding Selfcare security sdk
  apps/user-ms/pom.xml
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/resources/application.properties
  pom.xml
Labels: user-ms

[SELC-7545] Bump Selfcare commons version
  apps/user-group-ms/pom.xml
Labels: user-group-ms

[SELC-7545] Introduce selfcare-sdk-security for Enhanced Multi-Issuer JWT Validation (#302)
  apps/user-group-ms/pom.xml
  apps/user-ms/pom.xml
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/resources/application.properties
  pom.xml
Labels: user-ms, user-group-ms

[SELC-7756] feat: update onboarding sdk version (#301)
  apps/pom.xml
Labels: none

[SELC-7810] Added roleId as unique identifier for a userinstitution
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/resources/db/userInstitutions.json
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs

[SELC-7738] feat: API to delete members from an UserGroup by institutionId, parentInstitutionId and productId
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/DeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyDeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-7810] Added roleId as unique identifier for a userinstitution (#303)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/resources/db/userInstitutions.json
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs

modify addMembersToUserGroupWithParentInstitutionId API
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/mapper/UserGroupMapper.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyAddMembersToUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-7738] feat: API to delete members from an UserGroup by institutionId, parentInstitutionId and productId (#304)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/DeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyDeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

fix LastGroupMembersScenario tag and test
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-7811] Propagate user updates via roleId
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/CloningMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
Labels: user-cdc

fix with findAndModify
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

add cucumber scenario
  apps/user-group-ms/src/test/resources/features/createGroup.feature
Labels: user-group-ms

fix
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

remove parentInstitutionId from CreateUserGroupDto
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
Labels: user-group-ms

remove cucumber scenarios with parentInstiutionId in create group API
  apps/user-group-ms/src/test/resources/features/createGroup.feature
Labels: user-group-ms
