Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

[SELC-8117] Upgrade of testcontainers to run with latest docker
  apps/user-group-ms/pom.xml
Labels: user-group-ms

[SELC-8117] Updated selc-starter-parent and selc-commons
  apps/user-group-ms/pom.xml
Labels: user-group-ms

[SELC-8117] Switch to jakarta annotations
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/DeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/MemberUUID.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UpdateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupResource.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/validator/UserGroupControllerResponseValidator.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDtoTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/UpdateUserGroupDtoTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
Labels: user-group-ms

[SELC-8117] With Spring Boot 3, @EnableMongoAuditing must be closer to the @SpringBootApplication annotated class
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/SelfCareUserGroupApplication.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/config/CoreConfig.java
Labels: user-group-ms

[SELC-8117] Spring Boot 3 resolves the trailing slash as a request to a static resource
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
Labels: user-group-ms

[SELC-8117] Using ProblemDetail in UserGroupExceptionHandler
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/handler/UserGroupExceptionHandlerTest.java
Labels: user-group-ms

[SELC-8117] New SwaggerConfig with springdoc
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/config/SwaggerConfig.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/config/SwaggerConfigTest.java
Labels: user-group-ms

[SELC-8117] Updated model classes to use Schema annotation
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/DeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/MemberUUID.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UpdateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupResource.java
Labels: user-group-ms

[SELC-8117] Added a new mapping function to convert a comma separated list of strings to a spring Sort object
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/mapper/UserGroupMapper.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/UserGroupMapperTest.java
Labels: user-group-ms

[SELC-8117] Using new io.swagger.v3.oas.annotations in UserGroupV1Controller. Replaced Spring Pageable and Page to remove differences in the final openapi.
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/PageOfUserGroupResource.java
Labels: user-group-ms

[SELC-8117] Using swagger properties to describe parameters
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
Labels: user-group-ms

[SELC-8117] CodeQL
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-8117] CodeQL
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-8117] Upgrade to Spring Boot 3.3.0 (#322)
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/SelfCareUserGroupApplication.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/config/CoreConfig.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/config/SwaggerConfig.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/DeleteMembersFromUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/MemberUUID.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/PageOfUserGroupResource.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UpdateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupResource.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/mapper/UserGroupMapper.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/validator/UserGroupControllerResponseValidator.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/config/SwaggerConfigTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/handler/UserGroupExceptionHandlerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDtoTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/UpdateUserGroupDtoTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/UserGroupMapperTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
Labels: user-group-ms

add annotations and logic to retrieve and validate products
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductCache.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdDeserializer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdNormalizer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdParam.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdParamConverterProvider.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdValidator.java
Labels: user-ms

add logic and params to retrieve and validate products
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/SendMailDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdDeserializer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ProductIdNormalizer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductCache.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdDeserializer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdJacksonModule.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdNormalizer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdParam.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdParamConverterProvider.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdValidator.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix name
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

remove tests logs
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

fix log injection
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

add unit tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductCacheTest.java
Labels: user-ms

add unit tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdJacksonModuleTest.java
Labels: user-ms

remove product cache and validator
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductCache.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdNormalizer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdParam.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdValidator.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductCacheTest.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdParam.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
Labels: user-ms

add ProductIdNormalizerTest
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdNormalizerTest.java
Labels: user-ms

add coverage
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdNormalizerTest.java
Labels: user-ms

save modifiedAt as a Date instead of a Timestamp
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UpdateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
Labels: user-group-ms

[SELC-8293] fix: save modifiedAt as a Date instead of a Timestamp (#324)
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UpdateUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
Labels: user-group-ms

[SELC-8203] ProductIdNormalizer
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/SendMailDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductId.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdDeserializer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdJacksonModule.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdNormalizer.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdParamConverterProvider.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdJacksonModuleTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdNormalizerTest.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/application.properties
Labels: user-ms

[SELC-8203] feat: add annotation to validate and map productId fields (#323)
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/SendMailDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductId.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/product/ProductIdNormalizer.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ProductIdNormalizerTest.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/application.properties
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

Fix integration_test_user_group_ms maven cache
  .github/workflows/integration_tests_user_group_ms.yml
Labels: ops

Fix integration_test_user_group_ms maven cache (#325)
  .github/workflows/integration_tests_user_group_ms.yml
Labels: ops

Using amazoncorretto as runtime
  apps/user-group-ms/Dockerfile
Labels: user-group-ms

Using amazoncorretto as runtime (#326)
  apps/user-group-ms/Dockerfile
Labels: user-group-ms

[SELC-8315] Added fields mobilePhone and telephone to WorkContactResponse
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/WorkContactResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8315] Added fields mobilePhone and telephone to WorkContactResponse (#327)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/WorkContactResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8326] Added mobilePhone, telephone to getInstitutionUsers API response
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-8280] Added new action ListAllProductGroups to all roles except ADMIN_EA of prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms

[SELC-8280] tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8326] Added mobilePhone, telephone to getInstitutionUsers API response (#328)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-8280] Added new action ListAllProductGroups to all roles except ADMIN_EA of prod-io (#329)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms
