Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

[SELC-5009] ops: Update Workflow to Use release_docker Template from selfcare-common (#149)
  .github/workflows/call_release_ms.yml
  .github/workflows/release_cdc.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_cdc.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
  apps/user-cdc/Dockerfile
  apps/user-group-ms/Dockerfile
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/app/src/test/java/it/pagopa/selfcare/user_group/web/config/SwaggerConfigTest.java
  apps/user-ms/Dockerfile
Labels: user-ms, user-group-ms, user-cdc, ops

chore: release_ms reference to @main action
  .github/workflows/release_ms.yml
Labels: ops

add UserGroupV1Controller
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/web/src/test/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1ControllerTest.java
Labels: user-group-ms

change base tags UserGroup
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/config/SwaggerConfig.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupController.java
Labels: user-group-ms

[SELC-5045] feat: Update Endpoint Path to Include Version for User-Group MS (#150)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/config/SwaggerConfig.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/handler/UserGroupExceptionHandler.java
  apps/user-group-ms/web/src/test/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1ControllerTest.java
Labels: user-group-ms

SELC-5045] chore: user-group openapi update
  apps/user-group-ms/app/src/main/docs/openapi.json
Labels: user-group-ms

Add new user event sdk into user's libs
  apps/pom.xml
  libs/pom.xml
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubRestClient.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/constants/OnboardedProductState.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/constants/QueueEvent.java
  pom.xml
Labels: libs

Remove property injection for token authorization class for event hub
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
Labels: libs

add tag external v2
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

update openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

fix user group tag
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-5043] chore: add tag external-v2 to /users/{id} (#152)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms, user-group-ms

feat: add support tag in controllers
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

add readme
  libs/user-sdk-event/README.md
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/OnboardedProduct.java
Labels: libs

add Institution tag to InstitutionController
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

[SELC-4979] - feat: Add sdk for handling eventhub comunication (#151)
  apps/pom.xml
  libs/pom.xml
  libs/user-sdk-event/README.md
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/client/EventHubRestClient.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/OnboardedProduct.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/constants/OnboardedProductState.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/constants/QueueEvent.java
  pom.xml
Labels: libs

[SELC-5054] chore: add "support" tags to getUserInfo and getInstitutionUsers (#153)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

reference to libs
  apps/user-ms/Dockerfile
Labels: user-ms

fix WORKDIR /src before run mvn
  apps/user-ms/Dockerfile
Labels: user-ms

move WORKDIR /src
  apps/user-ms/Dockerfile
Labels: user-ms

fix
  apps/user-ms/Dockerfile
Labels: user-ms

[SELC-4979] fix: Adding src WORKDIR on user-ms Dockerfile (#154)
  apps/user-ms/Dockerfile
Labels: user-ms

Use string for partyRole for avoiding breaking changes
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-ms, libs

Remove use of proxy EventhubService
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/UserMsConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/service/EventhubService.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/service/EventhubServiceImpl.java
Labels: user-ms, libs

Remove @ApplicationScoped from EventhubSasTokenAuthorization
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
Labels: libs

[SELC-4996] feat: remove old message send logic (#155)
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/client/auth/EventhubSasTokenAuthorization.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/client/eventhub/EventHubRestClient.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/UserMsConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/OnboardedProductState.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/QueueEvent.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserNotificationResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitutionRole.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/PrepareNotificationData.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserNotificationToSend.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserToNotify.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-ms, libs

add support-pnpg tag to getInstitutionUsers and getUserGroups
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms, user-group-ms

[SELC-5092] chore: add support-pnpg tag to getInstitutionUsers and getUserGroups (#156)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms, user-group-ms

Add new api to resend old user messages to sc-users
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

fix send old message logic
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

Add new query to filter userinstitutions by date greater than given date
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

add tests for events controller
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/EventsControllerTest.java
Labels: user-ms

add tests userInstitutionServiceDefault
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
Labels: user-ms

add tests to userServiceImpl
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

add tests to userServiceImpl
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
Labels: user-ms

add tests to userServiceImpl
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

sdk-model module
  libs/pom.xml
  libs/user-sdk-event/pom.xml
  libs/user-sdk-model/.gitignore
  libs/user-sdk-model/pom.xml
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/OnboardedProductState.java
Labels: libs

using sdk-model on sdk-event
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/OnboardedProduct.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/constants/OnboardedProductState.java
Labels: libs

using sdk-model in user-cdc
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/OnboardedProduct.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitution.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitutionRole.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
Labels: user-cdc

consumerToSendScUserEvent
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/constant/OnboardedProductState.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/openapi/user_registry.json
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: user-cdc, ops
