Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

fix properties
  apps/user-group-cdc/src/main/resources/application.properties
Labels: none

fix properties
  apps/user-group-cdc/src/main/resources/application.properties
Labels: none

[SELC-5877] Fix: propertie name in user-group cdc (#214)
  apps/user-group-cdc/src/main/resources/application.properties
Labels: none

[SELC-5887] Fix(cherry pick): fix propertie in user-group-cdc (#215)
  apps/user-group-cdc/src/main/resources/application.properties
Labels: none

[SELC-5956] feat: added check of uniqueness group name in creation and editing api
  apps/user-group-ms/connector-api/src/main/java/it/pagopa/selfcare/user_group/connector/exception/ResourceAlreadyExistsException.java
  apps/user-group-ms/core/src/main/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImpl.java
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

[SELC-5956] fix: junit
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

[SELC-5956] fix: checkNameUniqueness to allow edit of group when name doesn't change
  apps/user-group-ms/core/src/main/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImpl.java
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

[SELC-5956] fix: jUnit
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

set default value as false on USER_CDC_SEND_EVENTS_*_WATCH_ENABLED
  apps/user-cdc/src/main/resources/application.properties
Labels: user-cdc

Fix: set default value as false on USER_CDC_SEND_EVENTS_WATCH_ENABLED (#217)
  apps/user-cdc/src/main/resources/application.properties
Labels: user-cdc

Fix: set default value as false on USER_CDC_SEND_EVENTS_WATCH_ENABLED (#217)
  apps/user-cdc/src/main/resources/application.properties
Labels: user-cdc

[SELC-5956] feat: added check of uniqueness group name in creation and editing api (#216)
  apps/user-group-ms/connector-api/src/main/java/it/pagopa/selfcare/user_group/connector/exception/ResourceAlreadyExistsException.java
  apps/user-group-ms/core/src/main/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImpl.java
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

chore: using log built-in function instead of string.format
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: user-cdc

chore: extends started log when an event happens
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
Labels: user-cdc

chore: change log level when user is not found
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: refactor some logs inside user-cdc and log level in ms when user not found (#218)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms, user-cdc

[SELC-5923] Added send selfcare fd event after user mail update
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, libs, ops

[SELC-5923] fix import for stringUtils
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, libs, ops

[SELC-5923] fix import for stringUtils
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

[SELC-5923] import sdk enum instead of constant for productId
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms, user-cdc

[SELC-5923] Feat: Added send selfcare fd event after user mail update (#219)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, user-cdc, libs, ops

[SELC-5971] First implementation of API to createUser by userID from onboarding
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/UserRoleAlreadyPresentException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5957] feat: added infra config for UserGroups collection
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev-pnpg/backend.ini
  infra/mongo/env/dev-pnpg/backend.tfvars
  infra/mongo/env/dev-pnpg/terraform.tfvars
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/prod-pnpg/backend.ini
  infra/mongo/env/prod-pnpg/backend.tfvars
  infra/mongo/env/prod-pnpg/terraform.tfvars
  infra/mongo/env/prod/backend.ini
  infra/mongo/env/prod/backend.tfvars
  infra/mongo/env/prod/terraform.tfvars
  infra/mongo/env/uat-pnpg/backend.ini
  infra/mongo/env/uat-pnpg/backend.tfvars
  infra/mongo/env/uat-pnpg/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/mongo_db.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: ops

[SELC-5960] feat: Changed references to userGroups collection to UserGroups
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/connector/dao/src/main/java/it/pagopa/selfcare/user_group/connector/dao/model/UserGroupEntity.java
Labels: user-group-ms

Upgrade onboarding-sdk 0.4.1
  apps/pom.xml
Labels: none

fix pr validation
  .github/workflows/pr_validation.yml
Labels: ops

Upgrade onboarding-sdk 0.4.1 (#222)
  .github/workflows/pr_validation.yml
  apps/pom.xml
Labels: ops

Upgrade onboarding-sdk 0.4.1 (#222)
  .github/workflows/pr_validation.yml
  apps/pom.xml
Labels: ops

[SELC-5957] feat: moved collection definition under container_apps/user-group-ms
  infra/container_apps/user-group-ms/locals.tf
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev-pnpg/backend.ini
  infra/mongo/env/dev-pnpg/backend.tfvars
  infra/mongo/env/dev-pnpg/terraform.tfvars
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/prod-pnpg/backend.ini
  infra/mongo/env/prod-pnpg/backend.tfvars
  infra/mongo/env/prod-pnpg/terraform.tfvars
  infra/mongo/env/prod/backend.ini
  infra/mongo/env/prod/backend.tfvars
  infra/mongo/env/prod/terraform.tfvars
  infra/mongo/env/uat-pnpg/backend.ini
  infra/mongo/env/uat-pnpg/backend.tfvars
  infra/mongo/env/uat-pnpg/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: ops

[SELC-5957] feat: added infra config for UserGroups collection (#220)
  infra/container_apps/user-group-ms/locals.tf
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

update terraform.lock
  infra/container_apps/user-group-ms/.terraform.lock.hcl
Labels: ops

[SELC-5960] feat: Changed references to userGroups collection to UserGroups (#221)
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/connector/dao/src/main/java/it/pagopa/selfcare/user_group/connector/dao/model/UserGroupEntity.java
  infra/container_apps/user-group-ms/.terraform.lock.hcl
Labels: user-group-ms, ops

[SELC-5971] refactor code and tests
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5971] refactor for change requests
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-5971] Feat: Added API to createUser by userID from onboarding (#223)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/UserRoleAlreadyPresentException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

Added log of workcontacts in user-cdc
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
Labels: user-cdc

[SELC-5982] Added userMailUpdatedAt in UserInstitution entity
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
Labels: user-ms

[SELC-5982] Removed send event to selfcare-fd topic
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, libs

[SELC-5981] changed user-cdc business logic to eveluate if mail is changed
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitution.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-cdc/src/test/resources/application.properties
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: user-cdc, libs

[SELC-5981] moved UserUtilsTest in user-cdc module
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
Labels: user-cdc
