Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

[SELC-5982] Feat: Added userMailUpdatedAt in UserInstitution entity (#225)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, libs

[SELC-5981] Feat: changed user-cdc business logic to eveluate if mail is changed (#226)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitution.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-cdc/src/test/resources/application.properties
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: user-cdc, libs

[SELC-5981] fix retrieveFdProduct in UserUtils
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs

[SELC-5981] fix retrieveFdProduct in UserUtils
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: user-cdc, libs

[SELC-5981] refactor setId in FdUserNotificationToSend
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: user-cdc, libs

[SELC-5981] refactor setId in FdUserNotificationToSend and fix retrieveFdProduct in UserUtils (#227)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: user-cdc, libs

feat: added autoscale_settings vars
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/variables.tf
Labels: ops

ops: added autoscale_settings vars for MongoDB db (#228)
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/variables.tf
Labels: ops

ops: added autoscale_settings vars for MongoDB db (#228)
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/variables.tf
Labels: ops

add autoscale_settings max_throughput to pnpg prod
  infra/container_apps/user-group-ms/env/prod-pnpg/terraform.tfvars
Labels: ops

add autoscale_settings max_throughput to selc prod
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
Labels: ops

ops: added autoscale_settings vars for MongoDB db PROD (#229)
  infra/container_apps/user-group-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
Labels: ops

ops: added autoscale_settings vars for MongoDB db PROD (#229)
  infra/container_apps/user-group-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
Labels: ops

add external-v2 tag on getUserGroupById API
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
Labels: user-group-ms

[SELC-6067] feat: add external-v2 tag on getUserGroupById API (#230)
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
Labels: user-group-ms

update README
  README.md
Labels: docs

docs: added Prerequisites and GH Credentials to README (#231)
  README.md
Labels: docs

add mobilePhone in getUserDetailsById API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserDetailResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

fix unit test
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6087] Updated api updateUserRegistryAndSendNotification to allow updating the phone number in addition to the email.
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CollectionUtil.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

[SELC-6102] feat: add mobilePhone in getUserDetailsById API (#232)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserDetailResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6087] Restore CertificationEnum in UserDataResponse, refactor method to verify email and mobilePhone
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CertificationEnum.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6087] merge main in feature branch
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6087] Feat: Updated api updateUserRegistryAndSendNotification (#233)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CertificationEnum.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CollectionUtil.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

add mobilePhone field in retrieveUsers API response
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

add mapper tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6085] feat: add mobilePhone field in retrieveUsers API response (#234)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

[SELC-6087] fix findMailUuidAndUpdateUserRegistry method to retrieve workContact id
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

[SELC-6087] Fix: findMailUuidAndUpdateUserRegistry method to retrieve workContact id (#235)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

set mobile phone field in sc-users queue message
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/openapi/user_registry.json
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/mapper/NotificationMapperTest.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-ms, user-cdc, libs

modify unit test
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

add NotificationMapperTest class in user-ms
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/NotificationMapperTest.java
Labels: user-ms

modify toUserNotificationToSend mapper to retrieve mail from workContacts
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

modify toUserNotificationToSend mapper to retrieve mail from workContacts
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

align hotfix to new objects types
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

[SELC-6121] fix: align main branch after NotificationMapper hotfix (#238)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

chore: Adding new scale rule for UAT
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

[SELC-6134] Adding new scale rule for UAT (#239)
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

[SELC-5969] First commit for cucumber
  apps/cucumber/pom.xml
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/SelfCareCucumberApplication.java
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/dao/CucumberConfig.java
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/dao/UserGroupRepository.java
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/model/UserGroupEntity.java
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/model/UserGroupEntityPageable.java
  apps/cucumber/src/main/java/it/pagopa/selfcare/cucumber/model/UserGroupStatus.java
  apps/cucumber/src/main/resources/application.properties
  apps/cucumber/src/main/resources/application.yml
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/CucumberTest.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/config/CucumberTestConfig.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/CreateUserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/RetrieveUserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UpdateUserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UserGroupMemberSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/utils/DataTypeConverter.java
  apps/cucumber/src/test/resources/application.test.properties
  apps/cucumber/src/test/resources/cucumber.properties
  apps/cucumber/src/test/resources/cucumber/scenarios/createGroup.feature
  apps/cucumber/src/test/resources/cucumber/scenarios/retrieveUserGroup.feature
  apps/cucumber/src/test/resources/cucumber/scenarios/updateUserGroup.feature
  apps/cucumber/src/test/resources/cucumber/scenarios/userGroupMembers.feature
  apps/cucumber/src/test/resources/dataPopulation/data.yaml
  apps/cucumber/src/test/resources/dataPopulation/groupEntities.json
Labels: none

[SELC-5969] Added all scenarios for userGroup APIs
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/RetrieveUserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UpdateUserGroupSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UserGroupMemberSteps.java
  apps/cucumber/src/test/java/it/pagopa/selfcare/cucumber/steps/UserGroupSteps.java
  apps/cucumber/src/test/resources/cucumber/scenarios/retrieveUserGroup.feature
  apps/cucumber/src/test/resources/cucumber/scenarios/userGroupMembers.feature
  apps/cucumber/src/test/resources/dataPopulation/groupEntities.json
  apps/user-group-ms-2/app/src/main/java/it/pagopa/selfcare/user_group/config/CoreConfig.java
  apps/user-group-ms-2/app/src/main/resources/config/core-config.properties
  apps/user-group-ms/connector/dao/src/main/resources/config/dao-config.properties
Labels: user-group-ms
