Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

Add filtering for PENDING States in CDC flow
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: user-cdc, libs

align unit tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

[SELC-6094] feat: set mobile phone field in sc-users queue message (#236)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/openapi/user_registry.json
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/NotificationMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-ms, user-cdc, libs

enable USER_CDC_SEND_EVENTS_WATCH_ENABLED to allow sending queue events in UAT environment
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-6578] feat: enable USER_CDC_SEND_EVENTS_WATCH_ENABLED in UAT (#253)
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

[SELC-6471] integration test with cucumber pt1
  apps/user-ms/docker-compose.yml
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/model/JwtData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/model/TestData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/CommonSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/SharedStepData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/TestDataProvider.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/TestJwtGenerator.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/db/init-db.sh
  apps/user-ms/src/test/resources/db/userInfo.json
  apps/user-ms/src/test/resources/db/userInstitutions.json
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/key/private-key.pem
  apps/user-ms/src/test/resources/key/public-key.pub
  apps/user-ms/src/test/resources/mock/user-registry-api.json
  apps/user-ms/src/test/resources/testData.json
Labels: user-ms

[SELC-6471] added azure-cli init
  apps/user-ms/docker-compose.yml
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
  apps/user-ms/src/test/resources/blobStorageInit/initAzurite.sh
Labels: user-ms

[SELC-6471] added exit to initAzurite.sh
  apps/user-ms/src/test/resources/blobStorageInit/initAzurite.sh
Labels: user-ms

[SELC-6471] added cucumber tests for UserController, UserPermissionController, InstitutionController
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/CommonSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/InstitutionSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/institution.feature
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/features/userPermission.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-6471] added /{id}/status tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/CommonSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-6471] added /{userId}/institution/{institutionId} tests
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-6471] fixed dates
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

add cucumber-sdk lib
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/model/JwtData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/model/TestData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/CommonSteps.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/SharedStepData.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/TestDataProvider.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/utils/TestJwtGenerator.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/key/private-key.pem
  apps/user-ms/src/test/resources/key/public-key.pub
  apps/user-ms/src/test/resources/testData.json
  pom.xml
Labels: user-ms

[SELC-6471] added tests for /{id}/user-registry
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-6471] fixed sharedStepData import
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
Labels: user-ms

[SELC-6471] fixed sharedStepData initialization
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
Labels: user-ms

[SELC-6471] added tests for createOrUpdateByFiscalCode endpoint
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-6726] Created new deleteUserInstitutionProductUsers API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CustomError.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6726] fix potential log injection
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

fix cucumber-sdk integration
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
Labels: user-ms

[SELC-6726] new delete users api now returns the count of removed users
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CustomError.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/DeletedUserCountResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-6471] added tests for sendUsersEvents endpoint
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  apps/user-ms/src/test/resources/features/events.feature
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-6471] upgraded cucumber-sdk to v0.0.4
  apps/user-ms/pom.xml
Labels: user-ms

[SELC-6471] removed comments, replaced system out with log info
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
Labels: user-ms

[SELC-6471] removed java-jwt from dependencies, changed http port to 8080
  apps/user-ms/pom.xml
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/resources/application-test.properties
Labels: user-ms

[SELC-6471] updated README with instructions for Cucumber tests
  apps/user-ms/README.md
Labels: user-ms

[SELC-6471] Changed port
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

Added Kafka to cucumber docker-compose
  apps/user-ms/docker-compose.yml
  apps/user-ms/src/test/resources/eventHubSubstitute/Dockerfile
  apps/user-ms/src/test/resources/eventHubSubstitute/pom.xml
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/NotificationService.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/config/KafkaConfig.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/controller/NotificationController.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/kafka/KafkaConsumerConfig.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/kafka/KafkaProducer.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/model/OnboardedProductState.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/model/QueueEvent.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/model/UserNotificationToSend.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/java/com/example/notificationservice/model/UserToNotify.java
  apps/user-ms/src/test/resources/eventHubSubstitute/src/main/resources/application.yml
Labels: user-ms

[SELC-6825] Add codeowners
  CODEOWNERS
Labels: none

add Selc:ViewContract action
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

update commons version
  apps/user-group-ms/pom.xml
Labels: user-group-ms

upgrade ubuntu version to 24.04
  .github/workflows/call_code_review.yml
  .github/workflows/call_code_review_infra.yml
  .github/workflows/create_release_branch.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_validation.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_user_group_ms.yml
  .github/workflows/release_user_sdk.yml
  .github/workflows/swagger_detect_quarkus_ms.yml
Labels: ops

add missing library in call_code_review github action
  .github/workflows/call_code_review.yml
Labels: ops

[SELC-6961] fix: Update delete users with statuses ACTIVE and SUSPENDED, and suspend only users with status ACTIVE
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
Labels: user-ms

[SELC-6962] feat: added cucumber test for deleting user with product status SUSPENDED, updated README for Cucumber tests
  apps/user-ms/README.md
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-6614] feat: add Selc:ViewContract action (#258)
  .github/workflows/call_code_review.yml
  .github/workflows/call_code_review_infra.yml
  .github/workflows/create_release_branch.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_validation.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_user_group_ms.yml
  .github/workflows/release_user_sdk.yml
  .github/workflows/swagger_detect_quarkus_ms.yml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms, user-group-ms, ops

int-test-ci
  .github/workflows/integration_tests.yml
  apps/user-ms/docker-compose.yml
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/application.properties
  apps/user-ms/src/test/resources/blobStorageInit/initAzurite.sh
  apps/user-ms/src/test/resources/blobStorageInit/products.json
  apps/user-ms/src/test/resources/docker-compose.yml
  apps/user-ms/src/test/resources/testenv
Labels: user-ms, ops

fix
  .github/workflows/integration_tests.yml
Labels: ops

test fix
  .github/workflows/integration_tests.yml
Labels: ops

fix has permission with parentId
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserPermissionServiceImpl.java
Labels: user-ms
