Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

[SELC-4847] Added retry in UserRegistry API
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: user-ms, ops

[SELC-4847] Fix tests in UserServiceTest
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

feat: update institutionName, institutionRootParent and userMailUuid on UserInfo
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: user-cdc

[SELC-4966] feat: update institutionName, institutionRootParent and userMailUuid on UserInfo (#141)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: user-cdc

[SELC-4847] Added check if retryable exception
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: user-ms, ops

[SELC-4847] Feat: Added retry in UserRegistry API (#140)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: user-ms, ops

[SELC-4516] Updated README.md
  README.md
Labels: docs

[SELC-4516] Updated README.md
  README.md
  apps/user-ms/README.md
Labels: user-ms, docs

[SELC-4516] Feat: Updated README.md (#142)
  README.md
  apps/user-ms/README.md
Labels: user-ms, docs

added query get_institutions_whithout_description
  apps/user-core-migration/query.py
Labels: none

retrieve by institutions_whithout_description
  apps/user-core-migration/migrate_institution_description.py
Labels: none

chore: refactor script migrate institution description using institution description not exist (#143)
  apps/user-core-migration/migrate_institution_description.py
  apps/user-core-migration/query.py
Labels: none

added workflow
  .github/workflows/swagger_detect_quarkus_ms.yml
Labels: ops

ops: GitHub Action to detect breaking changes on Swagger (#144)
  .github/workflows/swagger_detect_quarkus_ms.yml
Labels: ops

[SELC-4998] Update quarkus.platform.version to 3.11.0 for user-cdc
  apps/user-cdc/pom.xml
Labels: user-cdc

[SELC-4998] Feat: Update quarkus.platform.version to 3.11.0 for user-cdc (#145)
  apps/user-cdc/pom.xml
Labels: user-cdc

feat: add delegationId in UserInstitution products and update sdk version to introduce ADMIN_EA PartyRole
  apps/pom.xml
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

[SELC-4997] Update quarkus.platform.version to 3.11.0 for user-ms
  apps/user-ms/pom.xml
Labels: user-ms

replace selfcare-github with onboarding
  .github/workflows/call_code_review.yml
  .github/workflows/call_release_ms.yml
  .github/workflows/release_user_sdk.yml
Labels: ops

pom
  pom.xml
Labels: none

ops: refactor selfcare-github repo name with selfcare-onboarding (#148)
  .github/workflows/call_code_review.yml
  .github/workflows/call_release_ms.yml
  .github/workflows/release_user_sdk.yml
  pom.xml
Labels: ops

quarkus 3.11.1
  apps/user-ms/pom.xml
Labels: user-ms

update openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-4997] Update quarkus.platform.version to 3.11.1 for user-ms (#146)
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

use selfcare-common action
  .github/workflows/release_ms.yml
Labels: ops

fix dockerfile_path
  .github/workflows/release_ms.yml
Labels: ops

replace REPO_ID with REPO_ONBOARDING
  .github/workflows/call_release_ms.yml
Labels: ops

ditto
  apps/user-cdc/Dockerfile
  apps/user-group-ms/Dockerfile
  apps/user-ms/Dockerfile
Labels: user-ms, user-group-ms, user-cdc

use selfcare-common action for all
  .github/workflows/release_cdc.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_cdc.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
Labels: ops

test upload openapi workflow
  .github/workflows/release_ms.yml
Labels: ops

set path_openapi_docs
  .github/workflows/release_ms.yml
Labels: ops

feat: modify response from PartyRole to String
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

feat: modify response from PartyRole to String
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserToNotify.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

test user-group
  .github/workflows/release_user_group_ms.yml
Labels: ops

path_openapi_docs for user-group
  .github/workflows/release_ms.yml
Labels: ops

fix user group openapi
  .github/workflows/release_ms.yml
  .github/workflows/release_user_group_ms.yml
Labels: ops

[SELC-4977] feat: added delegationId in UserInstitution products and update common sdk version (#147)
  apps/pom.xml
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserToNotify.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

rename api-docs to openapi for user-group
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/app/src/test/java/it/pagopa/selfcare/user_group/web/config/SwaggerConfigTest.java
Labels: user-group-ms

set path_openapi_docs for all
  .github/workflows/release_cdc.yml
  .github/workflows/release_pnpg_cdc.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
Labels: ops

remove template workflow ms
  .github/workflows/call_release_ms.yml
Labels: ops

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
