Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update CODEOWNERS (#330)
  CODEOWNERS
Labels: none

Eclipse Temurin
  apps/user-ms/Dockerfile
Labels: user-ms

Testing eclipse-temurin 25
  apps/user-ms/Dockerfile
Labels: user-ms

Fixed env vars not passed to java
  apps/user-ms/Dockerfile
Labels: user-ms

Eclipse Temurin
  apps/user-cdc/Dockerfile
Labels: user-cdc

Eclipse Temurin
  apps/user-group-cdc/Dockerfile
Labels: none

Eclipse Temurin
  apps/user-group-ms/Dockerfile
Labels: user-group-ms

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update CODEOWNERS (#332)
  CODEOWNERS
Labels: none

[SELC-8332] Eclipse Temurin (#331)
  apps/user-cdc/Dockerfile
  apps/user-group-cdc/Dockerfile
  apps/user-group-ms/Dockerfile
  apps/user-ms/Dockerfile
Labels: user-ms, user-group-ms, user-cdc

modify api getInstitutionUsers to add optional filters
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/institution.feature
Labels: user-ms

fix comment
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
Labels: user-ms

fix tags order
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

[SELC-8389] feat: modify api getInstitutionUsers to add optional filters (#333)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/institution.feature
Labels: user-ms

[SELC-8454] New getUserOtpEmailInfo API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserOtpEmailInfoResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

CodeQL
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

Added summary
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

updated openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

fixed scenario description
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8454] New getUserOtpEmailInfo API (#334)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserOtpEmailInfoResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

add checkProductRoles in createOrUpdateByUserId, createUserById and createOrUpdateByFiscalCode APIs
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix log depends on a user-provided value issue
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

add internal and support tags to getUserOtpEmailInfo api
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

remove latest from mongo image
  apps/user-group-ms/docker-compose.yml
Labels: user-group-ms

[SELC-8402] feat: checkProductRoles in create or update users APIs added (#335)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8471] feat: add internal and support tags to getUserOtpEmailInfo api (#337)
  apps/user-group-ms/docker-compose.yml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms, user-group-ms

feat: configure connection settings for UserApi client in application.properties
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

feat: update UserApi client connection settings for improved performance
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

refactor: simplify user retrieval by using local method instead of API call
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

fix: reduce connection TTL for UserApi client to improve resource management
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

fix: reduce connection TTL for UserApi client to improve resource management
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

[SELC-7545] Bump Selfcare commons version
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

fix: disable keep-alive for UserApi client to optimize connection management
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

fix: enhance retry logic to check cause chain for wrapped exceptions
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']
