Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

chore: Add tag internal-v1 on users/:id/status update (#179)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

refactor: return common ProblemError
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
Labels: user-ms

docs: set responses as ProblemError
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

chore: using ProblemError defined in selfcare-common (#180)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
Labels: user-ms

docs: set problem+json error response of update status
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

docs: set problem+json error response of update status (#181)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

GET users/id
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

GET {institutionId}/users
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

update openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

fix schema array
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms

ops: Added swagger annotation Responses to Users/Instituions (#182)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

added operationId
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

chore: Add operationId to OpenAPI Documentation (#183)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

feat: flow of new user must just persist userInfo
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: user-cdc

feat: add or update using DocumentBson
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
Labels: user-cdc

[SELC-5265] fix: Enhancement of UserInfo Record Update Logic (#184)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
Labels: user-cdc

feat: increase onboarding-sdk version
  apps/pom.xml
Labels: none

[SELC-5520] feat: increase sdk product version to handle institutionContractMapping issue (#185)
  apps/pom.xml
Labels: none

feat: add tag support-pnpg
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-5572] feat: add tag support-pnpg to getUserInfoUsingGET (#186)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

feat: add auto-generation
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

feat: add summary
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
Labels: user-ms

chore: update docs openapi
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
Labels: user-ms

chore: Added Auto-generation operationId and Swagger description on each endpoint (#187)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

fix: log warn instead of error
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
Labels: user-ms

feat: improvement messages
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: prefix logger
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
Labels: user-ms

chore: user PREFIX_LOGGER
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
Labels: user-ms

chore: some improvement log messages on user service (#188)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: some improvement log messages on user service (#188)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

chore: improve logs
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

feat: add trim on fiscalCode
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

fix: log injection
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

hotfix: Added trim to fiscalCode when CreateUsersByFiscalCode (#189)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

hotfix: Added trim to fiscalCode when CreateUsersByFiscalCode (#189)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

add provider_registration true
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/main.tf
  infra/container_apps/user-ms/main.tf
  infra/repository/main.tf
Labels: ops

fix: Error ensuring Resource Providers are registered (#190)
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/main.tf
  infra/container_apps/user-ms/main.tf
  infra/repository/main.tf
Labels: ops

[SELC-5651] feat: added external-pnpg tag on getUserInfo API
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-5651] fix: changed in param-case path of updateUserProductCreatedAt
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
Labels: user-ms

[SELC-5651] feat: added external-pnpg tag on getUserInfo API (#191)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
Labels: user-ms
