Repository pagopa/selfcare-user, changes with the labels that .github/labeler.yml gives for each.
All labels: user-ms, user-group-ms, user-cdc, libs, ops, docs

.github/labeler.yml:

user-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-ms/**']
user-group-ms:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-group-ms/**']
user-cdc:
  - changed-files:
      - any-glob-to-any-file: ['apps/user-cdc/**']

libs:
  - changed-files:
      - any-glob-to-any-file: ['libs/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'infra/**', '.identity/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md']

hotfix:
  - base-branch: ['releases/*']

fix
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
Labels: user-group-ms

[SELC-7737] feat: modify addMembersToUserGroupWithParentInstitutionId to create a group if it doesn't exist (#305)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/AddMembersToUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/CreateUserGroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/mapper/UserGroupMapper.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupService.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImpl.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupMemberSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyAddMembersToUserGroupDto.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/createGroup.feature
  apps/user-group-ms/src/test/resources/features/userGroupMembers.feature
Labels: user-group-ms

[SELC-7811] Using new upsert APIs to update aggregate users and groups
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/main/openapi/internal.json
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
Labels: user-cdc

[SELC-7811] Propagate user updates via roleId + Using new upsert APIs to update aggregate users and groups (#306)
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/CloningMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/main/openapi/internal.json
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
Labels: user-cdc

Set min_replicas to 3
  infra/container_apps/user-ms/env/prod/terraform.tfvars
Labels: ops

[SELC-7814] feat: update requesterName in buildCreateEmailDataModel after call from APIM
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms

[SELC-7814] feat: add unit test for sendCreateUserNotification
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
Labels: user-ms

[SELC-7814] feat: update requesterName in buildCreateEmailDataModel after call from APIM (#308)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
Labels: user-ms

modify createUserByUserId to add updatedAt and toAddOnAggregates fields
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

modify createUserByUserId to add updatedAt and toAddOnAggregates fields
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix cucumber tests
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

fix log injection
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

[SELC-7850] feat: update updatedAt and toAddOnAggregates when userInstitution's product exists (#309)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

remove ManageProductUsers and ListProductUsers actions from ADMIN_EA role for prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7870] feat: remove ManageProductUsers and ListProductUsers actions from ADMIN_EA role for prod-io (#310)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

Update terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
Labels: ops

Scale PNPG.prod (#311)
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
Labels: ops

Update terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
Labels: ops

fix role action mappings for prod-io ADMIN_EA
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7633] fix: modify role action mappings for prod-io ADMIN_EA (#312)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

remove action ViewContract
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8015] feat: remove action ViewContract (#313)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-8051] Added support and support-pnpg tags to updateUserOnRegistry API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-8051] Added support and support-pnpg tags to updateUserOnRegistry API (#314)
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

[SELC-7792] feat: add ConflictException handler for error 409 from PDV in createOrUpdateByFiscalCode API
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/ConflictException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-8024] feat: add action ViewContract for admin prod-pagopa
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

add unique index userId institutionId
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

[SELC-7792] feat: add ConflictException handler for error 409 from PDV in createOrUpdateByFiscalCode API (#315)
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/ConflictException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/handler/ExceptionHandler.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/mock/user-registry-api.json
Labels: user-ms

[SELC-8024] feat: add action ViewContract for admin prod-pagopa (#316)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

Bump sdk product version
  apps/pom.xml
Labels: none

Bump sdk product version (#317)
  apps/pom.xml
Labels: none

Update sdk on pom.xml
  apps/pom.xml
Labels: none

Update sdk on pom.xml (#318)
  apps/pom.xml
Labels: none

modify api sendMailRequest to send a new mail template with different data
  apps/user-cdc/src/main/resources/application.properties
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/SendMailDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms, user-cdc

forcing azure cli version
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms

[SELC-8133] feat: modify api sendMailRequest (#319)
  apps/user-cdc/src/main/resources/application.properties
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/SendMailDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/Dockerfile-azure-cli
Labels: user-ms, user-cdc

add Selc:UpdateGeoTaxonomy permission for admin roles
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

[SELC-7942] feat: add Selc:UpdateGeoTaxonomy permission for admin roles (#320)
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

add parentInstitutionId filter in getUserGroups API
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupFilter.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
Labels: user-group-ms

[SELC-8112] feat: add parentInstitutionId filter in getUserGroups API (#321)
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupFilter.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/controller/UserGroupV1ControllerTest.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/RetrieveUserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/service/UserGroupServiceImplTest.java
  apps/user-group-ms/src/test/resources/features/retrieveUserGroup.feature
Labels: user-group-ms
