Repository pagopa/selfcare-user, pull requests merged in 2024-07, with the labels that each got.

#163 [SELC-5193] feat: Modify Endpoint Response for Existing ACTIVE User-Institution Association
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/utils/CreateOrUpdateUserByFiscalCodeResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/utils/OPERATION_TYPE.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#164 [SELC-5225] bugfix: update UserInfo more reliable avoid error when products is null
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
Labels: user-cdc

#165 [SELC-5266] fix: modify checkIfIsRetryableException to check if it's a ClientWebApplicationException
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
Labels: user-cdc

#168 [SELC-5245] Feat: Added role_action_mapping.json
  infra/container_apps/user-ms/role_action_mapping.json
Labels: ops

#170 chore: Move to Container App Env workload UAT
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/.terraform.lock.hcl
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops, hotfix

#172 [SELC-5251] Feat: Added UserAction enum in user-sdk-model
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/UserAction.java
Labels: libs

#171 [SELC-5247] Feat: Added new API to retrieve userInstitution with list of product's user permission
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

#173 [SELC-5247] Fix: change method to read json file
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
Labels: user-ms

#174 chore: Move to Container App Env workload PROD
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-group-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops, hotfix

#177 [SELC-5245] Feat: Added Selc:ListActiveProducts for OPERATOR in role_action_mapping.json
  apps/user-ms/src/main/resources/role_action_mapping.json
Labels: user-ms
