Repository pagopa/selfcare-user, pull requests merged in 2024-10, with the labels that each got.

#195 [SELC-5633] feat: retrieve product Role label from allRoleMappings
  apps/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms

#196 [SELC-5752] fix: mapper toWorkContacts does not handle mail null
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#197 [SELC-5752] Fix: change Spy on userMapper to UserServiceTest
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#199 [SELC-5740] Fix: Added custom code to parse different format of date
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserGroupNotificationMapper.java
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-group-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserGroupCdcServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs

#200 [SELC-5740] Fix: fixed value for env EVENT_HUB_BASE_PATH
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

#202 [SELC-5830] Feat: added action ListProductUsers for admin Roles
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#201 [SELC-5827] Feat: added custom codec for user date
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/DateCodec.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/MongoConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserNotificationResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/DateCodecTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/EventsControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/InstitutionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserNotificationToSend.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs, user-cdc

#203 [PNPG-239] feat: added tag internal-pnpg to POST /users API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

#204 [SELC-5827] Added datecode for user-cdc
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/DateCodec.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/MongoConfig.java
Labels: user-cdc

#205 [SELC-5856] Fix add user product Role to allowed multirole
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#207 [SELC-5887] Fix workflow name in create_release_branch.yml
  .github/workflows/create_release_branch.yml
Labels: ops

#209 [SELC-5887] Fix: added properties for eventhub in user-ms
  apps/user-group-cdc/src/main/resources/application.properties
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms, hotfix
