Repository pagopa/selfcare-user, pull requests merged in 2024-02, with the labels that each got.

#33 [SELC-3811] Feat: added infra files for user-cdc
  apps/user-cdc/README.md
  infra/.container_apps/user-cdc/.terraform.lock.hcl
  infra/.container_apps/user-cdc/container_app.tf
  infra/.container_apps/user-cdc/env/dev/backend.ini
  infra/.container_apps/user-cdc/env/dev/backend.tfvars
  infra/.container_apps/user-cdc/env/dev/terraform.tfvars
  infra/.container_apps/user-cdc/env/prod/backend.ini
  infra/.container_apps/user-cdc/env/prod/backend.tfvars
  infra/.container_apps/user-cdc/env/prod/terraform.tfvars
  infra/.container_apps/user-cdc/env/uat/backend.ini
  infra/.container_apps/user-cdc/env/uat/backend.tfvars
  infra/.container_apps/user-cdc/env/uat/terraform.tfvars
  infra/.container_apps/user-cdc/locals.tf
  infra/.container_apps/user-cdc/main.tf
  infra/.container_apps/user-cdc/outputs.tf
  infra/.container_apps/user-cdc/terraform.sh
  infra/.container_apps/user-cdc/variables.tf
Labels: ops

#39 [SELC-3811] Feat: moved user-ms infra in correct directory
  infra/.container_apps/user-ms/.terraform.lock.hcl
  infra/.container_apps/user-ms/container_app.tf
  infra/.container_apps/user-ms/env/dev/backend.ini
  infra/.container_apps/user-ms/env/dev/backend.tfvars
  infra/.container_apps/user-ms/env/dev/terraform.tfvars
  infra/.container_apps/user-ms/env/prod/backend.ini
  infra/.container_apps/user-ms/env/prod/backend.tfvars
  infra/.container_apps/user-ms/env/prod/terraform.tfvars
  infra/.container_apps/user-ms/env/uat/backend.ini
  infra/.container_apps/user-ms/env/uat/backend.tfvars
  infra/.container_apps/user-ms/env/uat/terraform.tfvars
  infra/.container_apps/user-ms/locals.tf
  infra/.container_apps/user-ms/main.tf
  infra/.container_apps/user-ms/outputs.tf
  infra/.container_apps/user-ms/terraform.sh
  infra/.container_apps/user-ms/variables.tf
Labels: ops

#41 [SELC-4907] Feat: Added api to retrieve filtered paginated users
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#32 [SELC-3904] - Feat: added API to update user in user registry and send event with kafka when user update occurs
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserEventService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserEventServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
Labels: user-ms

#42 [SELC-4112] Feat: Added institutionRootName in UserInstitution model and response
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#44 [SELC-4074] Feat: added code review pipeline for user-cdc
  .github/workflows/call_code_review.yml
  .github/workflows/pr_cdc.yml
Labels: ops

#46 [SELC-4188] feat: add idMail field to resources
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/InstitutionProducts.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitutionRole.java
Labels: user-ms

#47 [SELC-3924] feat: added github action for user-ms and user-cdc release
  .github/workflows/call_release_cdc.yml
  .github/workflows/call_release_infra.yml
  .github/workflows/call_release_ms.yml
  .github/workflows/release_cdc.yml
  .github/workflows/release_container_apps_infra.yml
  .github/workflows/release_container_apps_pnpg_infra.yml
  .github/workflows/release_mongo_infra.yml
  .github/workflows/release_mongo_pnpg_infra.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_user_sdk.yml
  apps/user-cdc/Dockerfile
Labels: ops

#50 [SELC-4185] feat: refactor logic on retrieve user email based on userMailUuid instead of institutionId
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#49 [SELC-3924] feat: Added maven settings to set token and access to registry
  .github/workflows/call_code_review_infra.yml
  .github/workflows/call_release_cdc.yml
  .github/workflows/call_release_ms.yml
  .github/workflows/pr_container_apps_infra.yml
  .github/workflows/pr_container_apps_pnpg_infra.yml
  apps/user-cdc/Dockerfile
  apps/user-ms/Dockerfile
  infra/container_apps/user-cdc/container_app_user.tf
  infra/container_apps/user-cdc/data.tf
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/locals.tf
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-cdc/outputs.tf
  infra/container_apps/user-cdc/private_dns.tf
  infra/container_apps/user-cdc/variables.tf
  infra/container_apps/user-ms/container_app_user.tf
  infra/container_apps/user-ms/data.tf
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/locals.tf
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/outputs.tf
  infra/container_apps/user-ms/private_dns.tf
  infra/container_apps/user-ms/variables.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/backend.tfvars
  infra/repository/main.tf
Labels: ops, user-ms

#53 [EC-189] Add repository settings to TF configuration
  .dockerignore
  .identity/.terraform.lock.hcl
  .identity/data.tf
  .identity/env/dev/backend.ini
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.ini
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.ini
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/github_branch_rules.tf
  .identity/github_environment_cd.tf
  .identity/github_environment_ci.tf
  .identity/github_managed_identity_cd.tf
  .identity/github_managed_identity_ci.tf
  .identity/github_repo_secrets.tf
  .identity/locals.tf
  .identity/main.tf
  .identity/outputs.tf
  .identity/terraform.sh
  .identity/variables.tf
  .pre-commit-config.yaml
  .terraform-version
  Dockerfile.new.dockerignore
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-ms/.terraform.lock.hcl
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
Labels: ops

#52 [SELC-4195] Feat: add CloudTemplateLoader and azureBlobClient config
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/CloudTemplateLoader.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/UserMsConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/TemplateMailConstant.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/conf/CloudTemplateLoaderTest.java
Labels: user-ms

#56 [SELC-4195] Feat: added mailService with 2 impl (quarkus mailer and AWS ses)
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/AwsSesConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/AwsMailServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/MailService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/MailServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/AwsMailServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/MailServiceImplTest.java
Labels: user-ms

#54 [SELC-3924] fix: Update terraform variables for pnpg and each env
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops

#55 [SELC-4334] feat: Added api getUserDetailsById
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserDetailResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/WorkContactResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#57 [SELC-4335] feat: add api to searchUser by fiscalCode
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/SearchUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#58 [SELC-4195] Feat: Added notification service to sent Kafka events and notification emails
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/TemplateMailConstant.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/LoggedUser.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/PrepareNotificationData.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
Labels: user-ms

#60 [SELC-3924] fix: Updated eventhub secret name
  infra/container_apps/user-ms/env/dev/terraform.tfvars
Labels: ops

#59 [SELC-4195] Feat: Added API to update user product state without relationshipId
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/filter/OnboardedProductFilter.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#61 [SELC-3924] fix: Added secret for eventhub sc-users
  infra/container_apps/user-ms/env/dev/terraform.tfvars
Labels: ops

#64 [SELC-3924] fix: Update secret event hub
  apps/user-ms/src/main/resources/application.properties
  infra/container_apps/user-ms/data.tf
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/locals.tf
Labels: ops, user-ms
