Repository pagopa/selfcare-user, pull requests merged in 2024-12, with the labels that each got.

#237 hotfix: modify toUserNotificationToSend mapper to retrieve mail from workContacts
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms, hotfix

#238 [SELC-6121] fix: align main branch after NotificationMapper hotfix
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
Labels: user-ms

#239 [SELC-6134] Adding new scale rule for UAT
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops
