Repository pagopa/selfcare-user, pull requests merged in 2024-04, with the labels that each got.

#82 chore: Workload profiles migration PNPG
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-cdc/variables.tf
Labels: ops

#80 [SELC-4644] fix: user fileds certification mapping issue
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#83 chore: remove workload_profile_name
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/variables.tf
Labels: ops

#84 chore: Release pipeline User-Cdc PNPG
  .github/workflows/release_pnpg_cdc.yml
Labels: ops

#85 [SELC-4551] feat: Added integration with Kafka and email sending for user creation api
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/TemplateMailConstant.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/PrepareNotificationData.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#86 [SELC-4663] feat: Added variables for rest client kafka for pnpg
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
Labels: ops

#87 [SELC-4666] Fix: Refactor UpdateUser API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
Labels: user-ms

#89 [SELC-4668] Fix: updateUserInstitutionByUserId method to create new entity when userInstitution not found
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#90 chore: Migration to Container App module with name and workload_profile empty
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-cdc/locals.tf
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-cdc/variables.tf
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/locals.tf
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/variables.tf
Labels: ops

#91 [SELC-4683] fix: added filter to remove products from userinstitution records when state isn't allowed
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms

#92 [SELC-4684] Fix: Removed mailServiceImpl to send Mail only with AWS
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/AwsMailServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/MailServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/MailServiceImplTest.java
Labels: user-ms

#93 [SELC-4683] fix: added filters to remove products from userinstitution records
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#94 chore: Migration uat using terraform ca module with suffix
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  infra/container_apps/user-cdc/locals.tf
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-cdc/variables.tf
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/locals.tf
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/variables.tf
Labels: ops

#97 [SELC-4703] bugfix: sending notification to eventhub optionally
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/resources/application.properties
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops, user-ms

#98 [SELC-4706] fix: added NotNull on fiscalCode SearchUserDto
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/SearchUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#99 chore: Create release workflow
  .github/workflows/create_release_branch.yml
Labels: ops

#101 fix update User product Status add checkTo existing product when create new User
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#102 [SELC-4684] Fix: query to delete product in status ACTIVE
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
Labels: user-ms

#103 [SELC-4551] Fix: fixed add Product role when productRole list has more than 1 elements
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#106 hotfix: rename status name in user-cdc
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitutionRole.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: ops, user-ms

#107 feat: Start Cdc from startOperationTime
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/CdcLifecycle.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/UserCdcConfig.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/constant/CdcStartAtConstant.java
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

#109 chore: increase cdc resource for dev and uat
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

#110 Fix: Added check for null workcontacts map
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms, hotfix

#111 Fix: fix for null userMailUuid when try to retrieve workContact
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/SearchUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms, hotfix

#113 fix constructTemplate for mail when institutionDescription is null
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
Labels: user-ms, hotfix

#114 chore: create index userId-institutionId
  .github/workflows/pr_ms.yml
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops, hotfix

#115 hotfix: set logged user empty when not found and sending mail
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
Labels: user-ms, hotfix

#116 [SELC-4759] fix: mapping mail from workContracts
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#117 [SELC-4772] fix: Update workContract on userRegistry using an empty map
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/CdcLifecycle.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms
