Repository pagopa/selfcare-user, pull requests merged in 2024-11, with the labels that each got.

#210 [SELC-5887] Fix: event hub base path UAT
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops, hotfix

#211 [SELC-5887] Fix(cherry pick): event hub base path UAT
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops

#212 Fix: event hub base path and topic for user-group-cdc
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops, hotfix

#213 [SELC-5887] Fix(cherry pick): fix event hub base path and topic for user-group-cdc
  apps/user-group-cdc/src/main/resources/application.properties
  infra/container_apps/user-group-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-group-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-group-cdc/env/uat/terraform.tfvars
Labels: ops

#214 [SELC-5877] Fix: propertie name in user-group cdc
  apps/user-group-cdc/src/main/resources/application.properties
Labels: hotfix

#217 Fix: set default value as false on USER_CDC_SEND_EVENTS_WATCH_ENABLED
  apps/user-cdc/src/main/resources/application.properties
Labels: hotfix, user-cdc

#216 [SELC-5956] feat: added check of uniqueness group name in creation and editing api
  apps/user-group-ms/connector-api/src/main/java/it/pagopa/selfcare/user_group/connector/exception/ResourceAlreadyExistsException.java
  apps/user-group-ms/core/src/main/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImpl.java
  apps/user-group-ms/core/src/test/java/it/pagopa/selfcare/user_group/core/UserGroupServiceImplTest.java
Labels: user-group-ms

#218 chore: refactor some logs inside user-cdc and log level in ms when user not found
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms, user-cdc

#219 [SELC-5923] Feat: Added send selfcare fd event after user mail update
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: ops, user-ms, libs, user-cdc

#222 Upgrade onboarding-sdk 0.4.1
  .github/workflows/pr_validation.yml
  apps/pom.xml
Labels: ops, hotfix

#220 [SELC-5957] feat: added infra config for UserGroups collection
  infra/container_apps/user-group-ms/locals.tf
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

#221 [SELC-5960] feat: Changed references to userGroups collection to UserGroups
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/UserGroupCdcService.java
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/connector/dao/src/main/java/it/pagopa/selfcare/user_group/connector/dao/model/UserGroupEntity.java
  infra/container_apps/user-group-ms/.terraform.lock.hcl
Labels: ops, user-group-ms

#223 [SELC-5971] Feat: Added API to createUser by userID from onboarding
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/exception/UserRoleAlreadyPresentException.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#225 [SELC-5982] Feat: Added userMailUpdatedAt in UserInstitution entity
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/resources/application.properties
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/EventsName.java
Labels: user-ms, libs

#226 [SELC-5981] Feat: changed user-cdc business logic to eveluate if mail is changed
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitution.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  apps/user-cdc/src/test/resources/application.properties
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs, user-cdc

#227 [SELC-5981] refactor setId in FdUserNotificationToSend and fix retrieveFdProduct in UserUtils
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
Labels: libs, user-cdc

#228 ops: added autoscale_settings vars for MongoDB db
  infra/container_apps/user-group-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-group-ms/mongo_db.tf
  infra/container_apps/user-group-ms/variables.tf
Labels: ops, hotfix

#231 docs: added Prerequisites and GH Credentials to README
  README.md
Labels: docs

#232 [SELC-6102] feat: add mobilePhone in getUserDetailsById API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserDetailResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

#233 [SELC-6087] Feat: Updated api updateUserRegistryAndSendNotification
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CertificationEnum.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CollectionUtil.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/openapi/user_registry.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

#234 [SELC-6085] feat: add mobilePhone field in retrieveUsers API response
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
Labels: user-ms

#235 [SELC-6087] Fix: findMailUuidAndUpdateUserRegistry method to retrieve workContact id
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
Labels: user-ms
