Repository pagopa/selfcare-user, pull requests merged in 2024-06, with the labels that each got.

#142 [SELC-4516] Feat: Updated README.md
  README.md
  apps/user-ms/README.md
Labels: user-ms, docs

#144 ops: GitHub Action to detect breaking changes on Swagger
  .github/workflows/swagger_detect_quarkus_ms.yml
Labels: ops

#145 [SELC-4998] Feat: Update quarkus.platform.version to 3.11.0 for user-cdc
  apps/user-cdc/pom.xml
Labels: user-cdc

#148 ops: refactor selfcare-github repo name with selfcare-onboarding
  .github/workflows/call_code_review.yml
  .github/workflows/call_release_ms.yml
  .github/workflows/release_user_sdk.yml
  pom.xml
Labels: ops

#146 [SELC-4997] Update quarkus.platform.version to 3.11.1 for user-ms
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

#147 [SELC-4977] feat: added delegationId in UserInstitution products and update sdk version to introduce ADMIN_EA PartyRole
  apps/pom.xml
  apps/user-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserToNotify.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#149 [SELC-5009] ops: Update Workflow to Use release_docker Template from selfcare-common
  .github/workflows/call_release_ms.yml
  .github/workflows/release_cdc.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_cdc.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
  apps/user-cdc/Dockerfile
  apps/user-group-ms/Dockerfile
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/app/src/test/java/it/pagopa/selfcare/user_group/web/config/SwaggerConfigTest.java
  apps/user-ms/Dockerfile
Labels: ops, user-ms, user-cdc, user-group-ms

#153 [SELC-5054] chore: add "support" tags to getUserInfo and getInstitutionUsers
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
Labels: user-ms

#154 [SELC-4979] fix: Adding src WORKDIR on user-ms Dockerfile
  apps/user-ms/Dockerfile
Labels: user-ms

#155 [SELC-4996] feat: remove old message send logic
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/client/auth/EventhubSasTokenAuthorization.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/client/eventhub/EventHubRestClient.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/UserMsConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/OnboardedProductState.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/QueueEvent.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserNotificationResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitutionRole.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/PrepareNotificationData.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserNotificationToSend.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/notification/UserToNotify.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
Labels: user-ms, libs

#156 [SELC-5092] chore: add support-pnpg tag to getInstitutionUsers and getUserGroups
  apps/user-group-ms/app/src/main/docs/openapi.json
  apps/user-group-ms/web/src/main/java/it/pagopa/selfcare/user_group/web/controller/UserGroupV1Controller.java
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/InstitutionController.java
Labels: user-ms, user-group-ms

#158 [SELC-4974] feat: Centralize Message Sending Logic for User Data Updates
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/constant/OnboardedProductState.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/OnboardedProduct.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitution.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserInstitutionRole.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/NotificationMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/mapper/UserMapper.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
  apps/user-cdc/src/main/openapi/user_registry.json
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepositoryTest.java
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
  libs/pom.xml
  libs/user-sdk-event/pom.xml
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/auth/EventhubSasTokenAuthorization.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  libs/user-sdk-model/.gitignore
  libs/user-sdk-model/pom.xml
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/constants/OnboardedProductState.java
Labels: ops, libs, user-cdc

#157 [SELC-4975] feat: add api to resend events about user records
  apps/user-cdc/Dockerfile
  apps/user-cdc/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/EventsController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/OnboardedProduct.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/UserInstitution.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/entity/filter/OnboardedProductFilter.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/NotificationMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/EventsControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
  apps/user-ms/src/test/resources/application.properties
  libs/user-sdk-model/src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Labels: user-ms, libs, user-cdc

#159 [SELC-5128] feat: Add Pagination for SC-User Event Resending
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/conf/UserMsConfig.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#161 [SELC-5128] refactor: Adding pagination size and limit in Send Event Metrics on sc-users
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/QueryUtils.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/TrackEventInput.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
  test-coverage/pom.xml
Labels: user-ms, libs, user-cdc

#162 feat: Added tracking product role on send events
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/TrackEventInput.java
Labels: user-ms, libs, user-cdc
