Repository pagopa/selfcare-user, pull requests merged in 2024-03, with the labels that each got.

#66 [SELC-4422] feat: Removed event hub key for pnpg and deleted locals.tf and data.tf files
  apps/user-ms/src/main/resources/application.properties
  infra/container_apps/user-ms/data.tf
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
  infra/container_apps/user-ms/locals.tf
Labels: ops, user-ms

#69 [SELC-441] feat: Solved errors in junit tests
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/AwsMailServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#70 [SELC-4203] Feat: added Api to retrieve filtered userData
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/CollectionUtil.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserDataResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#73 [SELC-4517] Fix: Refactor API to retrieve user institution list from UserInfo collection
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
Labels: user-ms

#75 [SELC-4540] feat: Removed dependency for Kafka
  apps/user-ms/pom.xml
Labels: user-ms

#74 [SELC-4539] Feat: Added API to addUserRole
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/OnboardedProductMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#77 chore: Refactor mongo infra moving to user-ms Infra
  .github/workflows/call_release_infra.yml
  .github/workflows/pr_container_apps__user_ms_infra.yml
  .github/workflows/pr_container_apps_infra.yml
  .github/workflows/release_mongo_infra.yml
  .github/workflows/release_mongo_pnpg_infra.yml
  infra/container_apps/user-ms/locals.tf
  infra/container_apps/user-ms/mongo_db.tf
  infra/container_apps/user-ms/variables.tf
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev-pnpg/backend.ini
  infra/mongo/env/dev-pnpg/backend.tfvars
  infra/mongo/env/dev-pnpg/terraform.tfvars
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/uat-pnpg/backend.ini
  infra/mongo/env/uat-pnpg/backend.tfvars
  infra/mongo/env/uat-pnpg/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/main.tf
  infra/mongo/outputs.tf
  infra/mongo/variables.tf
Labels: ops

#79 chore: build openapi docs when package maven phase
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/resources/application.properties
Labels: user-ms

#78 [SELC-4553] feat: refactor getUserbyId and searchUserByFiscalCode apis
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/CertifiableFieldResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/mapper/UserMapperTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms

#81 chore: Workload profiles migration DEV
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/main.tf
  infra/container_apps/user-cdc/variables.tf
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/main.tf
  infra/container_apps/user-ms/variables.tf
Labels: ops
