Repository pagopa/selfcare-user, pull requests merged in 2024-05, with the labels that each got.

#118 [SELC-4777] hotfix: update user on pdv only when name/family/mail is changed
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/mapper/UserMapper.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/model/UpdateUserRequest.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
Labels: user-ms, hotfix

#119 [SELC-4799] hotfix: avoid add role on product if already exists one
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms, hotfix

#121 [SELC-4800] hotfix: filter status ACTIVE when retrieve mails
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
Labels: user-ms, hotfix

#123 [SELC-4849] hotfix: filter data after retrieve from db on GET /users
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
Labels: user-ms, hotfix

#122 [SELC-4836] Fix: Added productRole as param in UpdateUserProductStatus API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/SearchUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms, hotfix

#124 [SELC-4836] Fix: Added productRole as param in UpdateUserProductStatus API
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/SearchUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/UserUtilTest.java
Labels: user-ms

#128 chore: added promote release step to release_ms workflow
  .github/workflows/pr_cdc.yml
  .github/workflows/release_ms.yml
Labels: ops

#130 chore: Add CustomLoggingFilter to log incoming requests
  apps/user-ms/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/filter/CustomLoggingFilter.java
Labels: user-ms

#135 [SELC-4932] Feat: Refactor build data model for send mail to map correct role label
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserNotificationServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserNotificationServiceImplTest.java
Labels: user-ms

#136 [SELC-4970] Feat: Refactor "/authorize" API to have institutionId as optional query param
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/constant/SelfCareRole.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserPermissionController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserPermissionService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserPermissionServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/controller/UserPermissionControllerTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
Labels: user-ms

#139 chore: added labeler for user-group-ms and rename workflow
  .github/labeler.yml
  .github/workflows/pr_cdc.yml
  .github/workflows/pr_container_apps__user_ms_infra.yml
  .github/workflows/pr_ms.yml
  .github/workflows/pr_user_group_ms.yml
  .github/workflows/release_cdc.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_cdc.yml
  .github/workflows/release_pnpg_ms.yml
  .github/workflows/release_pnpg_user_group_ms.yml
  .github/workflows/release_user_group_ms.yml
  .github/workflows/release_user_sdk.yml
Labels: ops

#141 [SELC-4966] feat: update institutionName, institutionRootParent and userMailUuid on UserInfo
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/repository/UserInstitutionRepository.java
Labels: user-cdc

#140 [SELC-4847] Feat: Added retry in UserRegistry API
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryService.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserRegistryServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/resources/application.properties
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  infra/container_apps/user-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/dev/terraform.tfvars
  infra/container_apps/user-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/prod/terraform.tfvars
  infra/container_apps/user-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-ms/env/uat/terraform.tfvars
Labels: ops, user-ms
