Repository pagopa/selfcare-user, pull requests merged in 2025-05, with the labels that each got.

#258 [SELC-6614] feat: add Selc:ViewContract action
  .github/workflows/call_code_review.yml
  .github/workflows/call_code_review_infra.yml
  .github/workflows/create_release_branch.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_validation.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_user_group_ms.yml
  .github/workflows/release_user_sdk.yml
  .github/workflows/swagger_detect_quarkus_ms.yml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: ops, user-ms, user-group-ms

#259 [SELC-6961] Feat: Updated api updateUserProductStatus to delete users with SUSPENDED status
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserInstitutionServiceDefault.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
Labels: user-ms

#262 [SELC-7054] fix: modify hasPermission to include sub-products
  apps/pom.xml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserPermissionServiceImplTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, libs

#260 [SELC-6962] feat: added cucumber test for deleting user with product status SUSPENDED, updated README for Cucumber tests
  apps/user-ms/README.md
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

#264 [SELC-7078] Running integration tests with github action, testcontainers and docker-compose
  .github/workflows/integration_tests_ms.yml
  apps/user-ms/README.md
  apps/user-ms/docker-compose.yml
  apps/user-ms/pom.xml
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/integration_test/CucumberSuite.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInfoServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserInstitutionServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserRegistryServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/application-test.properties
  apps/user-ms/src/test/resources/application.properties
  apps/user-ms/src/test/resources/blobStorageInit/initAzurite.sh
  apps/user-ms/src/test/resources/blobStorageInit/products.json
  pom.xml
Labels: ops, user-ms

#266 [SELC-7126] feat: add Cucumber integration tests with github actions for user-group-ms
  .github/workflows/call_code_review.yml
  .github/workflows/integration_tests_ms.yml
  .github/workflows/integration_tests_user_group_ms.yml
  apps/user-group-ms/README.md
  apps/user-group-ms/pom.xml
  apps/user-group-ms/src/main/resources/config/core-config.properties
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberConfig.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/CucumberSuite.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/integration_test/steps/UserGroupSteps.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/JwtData.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/TestProperties.java
  apps/user-group-ms/src/test/resources/application-test.properties
  apps/user-ms/pom.xml
Labels: ops, user-ms, user-group-ms

#268 [SELC-7126] fix: added server selfcare in Dockerfile for user-group-ms and user-ms
  apps/user-group-ms/Dockerfile
  apps/user-group-ms/pom.xml
  apps/user-ms/Dockerfile
Labels: user-ms, user-group-ms
