Repository pagopa/selfcare-user, pull requests merged in 2025-09, with the labels that each got.

#284 [SELC-7480] Added new action ListProductGroups. Removed action ManageProductGroups from ADMIN_EA role for prod-io
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

#285 [SELC-7586] Added index institutionId to userInstitution collection
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops

#286 [SELC-7586] Added index institutionId to userInstitution collection
  infra/container_apps/user-ms/mongo_db.tf
Labels: ops, hotfix

#287 [SELC-7589] Attempt to resolve the mysterious PDV conflict with retry
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Labels: user-ms

#289 [SELC-7600] Added index to field "name" in UserGroups collection
  infra/container_apps/user-group-ms/mongo_db.tf
Labels: ops

#293 [SELC-7672] Added support tag to deleteMemberFromUserGroup and deleteMemberFromUserGroups. Improved documentation.
  apps/user-group-ms/src/main/docs/openapi.json
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  apps/user-group-ms/src/main/resources/swagger/swagger_en.properties
Labels: user-group-ms

#291 [SELC-7461] feat: add parentInstitutionId in UserGroups model
  apps/user-group-cdc/src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/api/UserGroupOperations.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/GroupDto.java
  apps/user-group-ms/src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  apps/user-group-ms/src/test/java/it/pagopa/selfcare/user_group/model/DummyGroup.java
  apps/user-group-ms/src/test/resources/application-test.properties
  apps/user-group-ms/src/test/resources/features/createGroup.feature
Labels: user-group-ms

#292 [SELC-7640] Replaced action Selc:ManageProductUsers with Selc:CreateProductUsers, Selc:UpdateProductUsers, Selc:DeleteProductUsers
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/features/user.feature
Labels: user-ms

#300 [SELC-7501] Updated user-cdc to monitor toAddOnAggregates flags and propagate users from the aggregator to the aggregates
  apps/user-cdc/pom.xml
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/UserInstitutionCdcService.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalApiHeadersFactory.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalDelegationApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/client/InternalUserGroupApiClient.java
  apps/user-cdc/src/main/java/it/pagopa/selfcare/user/event/config/UserCdcConfig.java
  apps/user-cdc/src/main/openapi/internal.json
  apps/user-cdc/src/main/resources/application.properties
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/service/UserInstitutionCdcServiceTest.java
  infra/container_apps/user-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/dev/terraform.tfvars
  infra/container_apps/user-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/prod/terraform.tfvars
  infra/container_apps/user-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops, user-cdc
