Repository pagopa/selfcare-user, pull requests merged in 2025-02, with the labels that each got.

#245 [SELC-6300] feat: add role ADMIN_EA_IO
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, libs, user-group-ms

#246 Revert "[SELC-6300] feat: add role ADMIN_EA_IO"
  apps/pom.xml
  apps/user-group-ms/pom.xml
  apps/user-ms/src/main/docs/openapi.json
  apps/user-ms/src/main/docs/openapi.yaml
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/UserController.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/OnboardedProductResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/UserInstitutionRoleResponse.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/controller/response/product/OnboardedProductWithActions.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/util/ActionMapRetrieverTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/model/UserToNotify.java
  libs/user-sdk-model/pom.xml
Labels: user-ms, libs, user-group-ms

#247 [SELC-6300] feat: new permission actions management by role and product
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  apps/user-ms/src/main/java/it/pagopa/selfcare/user/util/ActionMapRetriever.java
  apps/user-ms/src/main/resources/role_action_mapping.json
  apps/user-ms/src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  apps/user-ms/src/test/resources/role_action_mapping_test.json
Labels: user-ms

#251 Fix grouping Product for different product role and the same role
  apps/user-cdc/src/test/java/it/pagopa/selfcare/user/event/UserUtilsTest.java
  libs/user-sdk-event/src/main/java/it/pagopa/selfcare/user/UserUtils.java
  libs/user-sdk-event/src/test/java/it/pagopa/selfcare/user/UserUtilsTest.java
Labels: libs, user-cdc

#253 [SELC-6578] feat: enable USER_CDC_SEND_EVENTS_WATCH_ENABLED in UAT
  infra/container_apps/user-cdc/env/uat/terraform.tfvars
Labels: ops
